asgiref==3.3.1
beautifulsoup4==4.9.3
boto3==1.16.59
botocore==1.19.59
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
dj-database-url==0.5.0
Django==3.1.5
django-filter==2.4.0
django-heroku==0.3.1
django-storages==1.11.1
django-widget-tweaks==1.4.8
grpcio==1.33.1
grpcio-tools==1.33.1
gunicorn==20.0.4
idna==2.10
jmespath==0.10.0
lxml==4.6.2
numpy==1.19.5
opencv-python==4.5.1.48
paho-mqtt==1.5.1
Pillow==8.1.0
protobuf==3.13.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
python-dateutil==2.8.1
pytz==2020.5
qrcode==6.1
requests==2.25.1
s3transfer==0.3.4
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
urllib3==1.26.2
whitenoise==5.2.0
